In [135]:
import fitz
import pandas as pd

In [136]:
def scrape(filePath, start, stop, font, fontSize):
    results = [] # list of tuples that store the information as (text, font size, font name) 
    pdf = fitz.open(filePath) # filePath is a string that contains the path to the pdf
    for page in pdf.pages(start=start, stop=stop):
        dict = page.get_text("dict")
        blocks = dict["blocks"]
        for block in blocks:
            if "lines" in block.keys():
                spans = block['lines']
                for span in spans:
                    data = span['spans']
                    stack = []
                    for lines in data:
                        if (lines['size'] >= fontSize[0]) & (lines['size'] <= fontSize[1]):
                            if ((lines['font'] == 'MyriadPro-Regular') | (lines['font'] == 'MyriadPro-LightIt')) & (len(lines['text']) > 1):
                                stack.append(lines['text'])

                            if lines['font'] == 'MyriadPro-LightIt':
                                results.append(stack)
                                
                            

    pdf.close()
    return results

In [137]:
[]

[]

In [138]:
names = [
    'American_Oxford_3000_by_CEFR_level',
    'American_Oxford_5000_by_CEFR_level',
    'The_Oxford_3000_by_CEFR_level',
    'The_Oxford_5000_by_CEFR_level'
]

In [139]:
name = names[2]

In [140]:
res = scrape('English_level/Oxford_CEFR_level/' + name + '.pdf', start=0, stop=13, font=None, fontSize=[9, 9])
df = pd.DataFrame(res)
display(df)

           0                   1     2     3     4
0     a, an   indefinite article  None  None  None
1     about                prep.  adv.  None  None
2     about                prep.  adv.  None  None
3     above                prep.  adv.  None  None
4     above                prep.  adv.  None  None
...      ...                 ...   ...   ...   ...
3765  wound                   n.    v.  None  None
3766   wrap                   v.  None  None  None
3767  wrong                   n.  None  None  None
3768    yet                conj.  None  None  None
3769   zone                   n.  None  None  None

[3770 rows x 5 columns]

In [141]:
df[~df[3].isna()]

             0     1      2      3     4
257      east     n.   adj.   adv.  None
258      east     n.   adj.   adv.  None
259      east     n.   adj.   adv.  None
274    enough   det.  pron.   adv.  None
275    enough   det.  pron.   adv.  None
...        ...   ...    ...    ...   ...
2952  advance     n.     v.   adj.  None
2953  advance     n.     v.   adj.  None
3486    plus1   adj.     n.  conj.  None
3487    plus1   adj.     n.  conj.  None
3488    plus1   adj.     n.  conj.  None

[78 rows x 5 columns]

In [142]:
df.to_csv('Parsed/' + name + '.csv')